@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Noto+Sans+TC:wght@100;300;400;500;900&family=RocknRoll+One&display=swap");
body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #e9e9e9, #e2dacf, #f5f5f5, #e2dacf);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentcolor;
}

img {
  max-width: 100%;
}

button, input {
  border: none;
  outline: none;
}

.container {
  max-width: 968px;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.header {
  width: 100%;
  background: linear-gradient(135deg, #e9e9e9, #e2dacf, #f5f5f5, #e2dacf);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0.5rem 0.2rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .nav_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  font-family: "RocknRoll One";
}
.nav .nav_logo img {
  width: 1.8rem;
}

.nav_link, .nav_logo, .nav_toggle, .nav_close {
  color: #000;
}

.nav_toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    width: 100%;
    background: linear-gradient(225deg, #fff, #e2dacf 75%, #f1f1f1);
    top: -120%;
    left: 0;
    padding: 3.5rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: 15;
    border-radius: 0 0 1.5rem 1.5rem;
  }
}
.nav_img {
  width: 130px;
  position: absolute;
  top: -3rem;
  left: 0;
  -webkit-transform: rotate(190deg);
          transform: rotate(190deg);
}

.nav_close {
  font-size: 1.8rem;
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  cursor: pointer;
}

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav_list li {
  margin: 0.8rem 0;
}

.show {
  top: 0;
}

.home__content {
  row-gap: 1rem;
  padding: 3.5rem 0.9rem 0 0.9rem;
}

.home__group {
  display: -ms-grid;
  display: grid;
  position: relative;
  padding-top: 3rem;
}

.home__img {
  height: 250px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.home__indicator {
  width: 8px;
  height: 8px;
  position: absolute;
  background-color: #ed7d60;
  border-radius: 50%;
  top: 7rem;
  right: 2rem;
}

.home__indicator::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 48px;
  background-color: #ed7d60;
  top: -3rem;
  right: 45%;
}

.home__details-img {
  position: absolute;
  right: 0.5rem;
}

.home__details-title, .home__details-subtitle {
  display: block;
  font-size: 0.9rem;
  text-align: right;
  font-family: "Kosugi Maru", sans-serif;
}

.home__sub {
  font-size: 1.1rem;
  margin: 1rem 0 0.5rem 0.3rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.home__title {
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 120%;
  margin-bottom: 20px;
  padding-left: 10px;
  font-family: "RocknRoll One", "Kosugi Maru";
}

.home__desc {
  color: #515151;
  letter-spacing: 1.5px;
  line-height: 1.5rem;
  padding: 0 0.5rem;
  font-family: "Kosugi Maru", "Noto Sans TC", sans-serif;
}

.home__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button {
  display: inline-block;
  cursor: pointer;
  background-color: #ed7d60;
  color: #fff;
  letter-spacing: 2px;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Kosugi Maru", sans-serif;
}
.button:hover {
  background-color: #eb6e4e;
}

.button-ghost {
  border: 2px solid #313464;
  color: #313464;
  background-color: transparent;
  border-radius: 3rem;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
}
.button-ghost:hover {
  background-color: #313464;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button--link {
  color: #665d5d;
}

.button--flex {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

/*SWIPER CLASS*/
.swiper-pagination {
  position: initial !important;
  margin-top: 2rem;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background-color: #313464;
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px) !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
  width: 1.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
}

/*SECTION*/
.section {
  padding: 4.3rem 0.8rem;
}

.section__title {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
  letter-spacing: 1px;
  font-family: "RocknRoll One", "Kosugi Maru";
}

/*其他腳色*/
.category__container {
  -ms-grid-columns: 1fr 2rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 2rem;
  letter-spacing: 1px;
}

.category__data {
  text-align: center;
  cursor: pointer;
}
.category__data:hover .category__img {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.category__img {
  width: 150px;
  margin-bottom: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.category__title {
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.category__desc {
  font-size: 0.8rem;
  color: #515151;
}

/*SCROLL HEADER*/
.scroll-header {
  background: rgba(255, 255, 255, 0.5);
}

/*About*/
.about__container {
  row-gap: 1rem;
}

.about__data {
  text-align: center;
}

.about__desc {
  margin-bottom: 3rem;
  -ms-grid-column-align: center;
      justify-self: center;
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: #515151;
}

/*CANDY*/
.trick__container {
  -ms-grid-columns: 1fr 1.5rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding-top: 1rem;
}

.trick__content {
  position: relative;
  background: linear-gradient(225deg, #fff, #e2dacf 75%, #f1f1f1);
  border-radius: 1rem;
  padding: 1.5rem 0 1rem 0;
  text-align: center;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.trick__content:hover .trick__img {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}
.trick__content:hover .trick__button {
  right: 0;
}

.trick__img {
  width: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.trick__sub, .trick__price {
  display: block;
}

.trick__sub {
  font-size: 0.6rem;
}

.trick__title, .trick__price {
  font-size: 1.2rem;
  font-weight: 500;
}

.trick__button {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
  position: absolute;
  right: -3rem;
  bottom: 0;
}

.trick__container .trick__content:nth-child(2) .trick__img {
  padding: 3rem 0;
}

.trick__icon {
  font-size: 1.25rem;
}

/*DISCOUNT*/
.discount__container {
  background: linear-gradient(225deg, #fff, #e2dacf 75%, #f1f1f1);
  border-radius: 1rem;
  padding: 2.5rem 0 1.5rem;
  row-gap: 0.75rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.discount__container:hover .discount__img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

.discount__data {
  text-align: center;
}

.discount__title {
  font-size: 1.45rem;
  margin-bottom: 1.25rem;
  color: #515151;
}
.discount__title span {
  font-size: 2rem;
  color: #ed7d60;
}

.discount__img {
  width: 200px;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*PACK*/
.new__img {
  width: 135px;
  margin-bottom: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.new__content {
  position: relative;
  background: linear-gradient(135deg, #e9e9e9, #e2dacf, #f5f5f5, #e2dacf);
  width: 80% !important;
  padding: 2rem 0 1.5rem 0;
  border-radius: 0.75rem;
  text-align: center;
  overflow: hidden;
}

.new__tag {
  position: absolute;
  top: 6%;
  left: 8%;
  background-color: #313464;
  color: #ed7d60;
  font-size: 0.9rem;
  padding: 0.25rem 0.3rem;
  border-radius: 0.25rem;
  font-weight: 600;
}

.new__title {
  font-size: 1rem;
}

.new__sub {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}

.new__prices {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.new__price {
  font-weight: 600;
}

.new__discount {
  color: #ed7d60;
  font-weight: 600;
  text-decoration: line-through;
  font-size: 0.9rem;
}

.new__button {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
  position: absolute;
  bottom: 0;
  right: -3rem;
}

.new__icon {
  font-size: 1.2rem;
}

.new__content {
  cursor: pointer;
}
.new__content:hover .new__img {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}
.new__content:hover .new__button {
  right: 0;
}

/*SUSCRIBE*/
.newsletter__desc {
  text-align: center;
  margin-bottom: 1.5rem;
}

.newsletter__form {
  background: linear-gradient(225deg, #fff, #e2dacf 75%, #f1f1f1);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0.75rem;
}
.newsletter__form input {
  width: 70%;
  padding: 0 0.5rem;
  background: none;
}

/*footer*/
.footer {
  position: relative;
  overflow: hidden;
}
.footer [class^=illust] {
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer [class^=illust]:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer .illust1 {
  width: 150px;
  top: 6rem;
  right: -2rem;
  -webkit-animation: float 1s infinite alternate;
          animation: float 1s infinite alternate;
  opacity: 0.8;
}
.footer .illust2 {
  width: 200px;
  bottom: 6rem;
  right: 4rem;
  -webkit-animation: float 1s infinite alternate;
          animation: float 1s infinite alternate;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(-0.8rem);
            transform: translateY(-0.8rem);
  }
  100% {
    -webkit-transform: translateY(0.1rem);
            transform: translateY(0.1rem);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translateY(-0.8rem);
            transform: translateY(-0.8rem);
  }
  100% {
    -webkit-transform: translateY(0.1rem);
            transform: translateY(0.1rem);
  }
}

.footer__container {
  row-gap: 2rem;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.footer__logo img {
  width: 35px;
}

.footer__desc {
  margin-bottom: 2.5rem;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}
.footer__social a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: linear-gradient(225deg, #fff, #e2dacf 75%, #f1f1f1);
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: #515151;
  font-size: 1rem;
}
.footer__social a:hover {
  color: #5e5e5e;
}

.footer__title {
  margin-bottom: 1rem;
}

.footer__links {
  display: -ms-grid;
  display: grid;
  row-gap: 0.35rem;
}
.footer__links .footer__link {
  font-size: 0.9rem;
  color: #515151;
}

.footer__copy {
  display: block;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 4.5rem;
}

/*active-link*/
.active-link {
  position: relative;
}
.active-link::before {
  content: "";
  position: absolute;
  top: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: #313464;
  border-radius: 50%;
}

/*SCROLL-UP*/
.uptoTop {
  position: fixed;
  right: 0.5rem;
  bottom: -20%;
  background: linear-gradient(135deg, #e9e9e9, #e2dacf, #f5f5f5, #e2dacf);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.5rem;
  border-radius: 0.25rem;
  z-index: 10;
  opacity: 0.8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.uptoTop:hover {
  opacity: 1;
}
.uptoTop i {
  font-size: 1.25rem;
  color: #515151;
}

.show-scroll {
  bottom: 3rem;
}

/*SCROLL BAR*/
::-webkit-scrollbar {
  width: 0.6rem;
  background: linear-gradient(225deg, #fff, #e2dacf 75%, #f1f1f1);
}

::-webkit-scrollbar-thumb {
  background: #515151;
  border-radius: 10px;
}

/*For small Size devices*/
.container {
  margin: 0 0.25rem;
}

.home__img {
  height: 200px;
}

.home__buttons {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  row-gap: 1rem;
}

.category__container, .trick__container {
  -ms-grid-columns: 0.8fr;
  grid-template-columns: 0.8fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  /*For medium Size devices*/
}
.footer .illust2 {
  width: 120px;
}

@media screen and (min-width: 576px) {
  .about__container {
    -ms-grid-columns: 0.8fr;
    grid-template-columns: 0.8fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .newsletter__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.8fr;
    grid-template-columns: 0.8fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  section {
    padding: 5rem 2rem;
  }

  .nav {
    height: 4rem;
  }

  .nav_img, .nav_close, .nav_toggle {
    display: none;
  }

  .nav_list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
  }

  .nav_link {
    text-transform: initial;
    font-weight: initial;
  }

  .home__content {
    padding: 0rem 2rem;
    -ms-grid-columns: 1fr 4rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    display: -ms-grid;
    display: grid;
  }

  .home__img {
    height: 300px;
  }

  .swiper-pagination {
    margin-top: 1.2rem;
  }

  .category__container {
    -ms-grid-columns: (200px)[3];
    grid-template-columns: repeat(3, 200px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2rem;
  }

  .about__container {
    -ms-grid-columns: 1fr 1.75rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0 1.75rem;
  }
  .about__container img {
    width: 350px;
  }

  .about__title, .about__data {
    text-align: initial;
  }

  .about__desc {
    line-height: 30px;
    margin-bottom: 1.25rem;
  }

  .trick__container {
    -ms-grid-columns: 0.45fr 2rem 0.45fr;
    grid-template-columns: repeat(2, 0.45fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem;
  }

  .discount__container {
    -ms-grid-columns: -webkit-max-content 3rem -webkit-max-content;
    -ms-grid-columns: max-content 3rem max-content;
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
    padding: 3rem 0;
    border-radius: 3rem;
  }

  .discount__img {
    width: 280px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-animation: float 0.8s infinite alternate;
            animation: float 0.8s infinite alternate;
  }

  /*order: -1 左右順序改變*/
  .new__content {
    position: relative;
    background: linear-gradient(135deg, #e9e9e9, #e2dacf, #f5f5f5, #e2dacf);
    width: 30% !important;
    padding: 2rem 0 1.5rem 0;
    border-radius: 0.75rem;
    text-align: center;
    overflow: hidden;
  }

  .newsletter__container {
    -ms-grid-columns: 0.6fr;
    grid-template-columns: 0.6fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__container {
    -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
    grid-template-columns: repeat(4, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
    /*column-gap項目之間的間隔*/
  }

  .footer .illust2 {
    right: initial;
    bottom: 0.2rem;
  }

  /*Large Size*/
}
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section__title {
    font-size: 2rem;
    margin-bottom: 3.5rem;
  }

  .home__content {
    padding-top: 3rem;
    gap: 3rem;
  }

  .home__group {
    padding-top: 0;
  }

  .home__img {
    height: 400px;
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }

  .home__indicator {
    top: initial;
    right: initial;
    bottom: 15%;
    left: 45%;
  }
  .home__indicator::after {
    top: 0;
    height: 75px;
  }

  .home__details-img {
    bottom: 0;
    right: 58%;
  }

  .home__title {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
  }

  .home__desc {
    margin-bottom: 2.5rem;
    line-height: 160%;
    letter-spacing: 2px;
  }

  .home__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }

  .category__container {
    -webkit-column-gap: 8rem;
       -moz-column-gap: 8rem;
            column-gap: 8rem;
  }

  .category__img {
    width: 200px;
  }

  .about__container img {
    width: 450px;
    padding-left: 3rem;
  }

  .trick__price {
    padding-top: 0.5rem;
  }

  .discount__container {
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
  }

  .discount__title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .discount__title span {
    font-size: 2.5rem;
  }

  .new__title {
    padding-top: 0.55rem;
  }

  .new__prices {
    padding-top: 0.35rem;
  }

  .footer__copy {
    margin-top: 6rem;
  }

  .footer__content {
    text-align: center;
  }

  .footer__content:nth-child(1) {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .home__img {
    height: 420px;
  }
}